.bg-blue{
    background-color: deepskyblue;
}

.bg-grey{
    background-color: white ;
}

.span-vh{
    height: 97vh;
}

.span-vh5{
    height: 3vh;
}

.bg-black{
    background-color: black;
}

.w-90 {
    width: 90%;
}

body {
    padding-top: 55px;
}

#map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
}

table {
    border-collapse: collapse;
}

.table-outline table, .table-outline th, .table-outline td {
    border: 1px solid black;
}
