
 
.block{
    margin: auto;
    top: 200px;
    width: 1000px; 
    height: 600px;
    background-color: white;
    border: none;
    margin-top: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sideblock {
    height: 600px; 
    width: 250px; 
    background-color: rgb(94, 195, 235); 
    display: inline-block;
  
}   
 .main{
    position: absolute;
    top: 220px;
    padding-left: 100px;
    font-size: 20px;
    display: inline-block;

}
button{
    border: none;
    width: 200px;
    font-size: 14px;
    background-color: rgb(236, 65, 42);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Helvetica;
}
.btn {
    position: relative;
    bottom: 0px;
    right: 0px; 
    width: 200px;
    border: none;
    font-size: 16px;
    background-color: rgb(236, 65, 42);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Helvetica;
 
}
p{
    font-size: 14px;
}
#label{
  
    font-size: 30px;
    font-family: Helvetica;


}
.text{
    font-size: 20px;
    height: 40px;
    border:none;   
    width: 300px;
    border-bottom: 1px solid grey;
}
html{
    background-image: url("bg1.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
form{
    padding: 10px;
}

.error{

    font-size: 14px;
    color: red;
}

/*Welcome Page */
.welcomeblock{
    margin: auto;
    
    width: 70%; 
    height: 80%;
    background-color: white;
    border: none;
    margin-top: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.topbar{
    height: 15%; 
    width: 100%; 
    background-color: rgb(94, 195, 235); 
    display: inline-block;
}
.welcome{
    text-align: center;
    font-family: Helvetica;
    font-size: 40px;
    position: relative;
    bottom: 15px;
 
}
.logout_btn{
    position: absolute;
    bottom: 200px;
    right: 320px;
}
.content{
    padding: 80px;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}